/*Daniel Flores Lopez, UO282894*/

/*Especifidad 001*/
main{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  width: 30em;
  height: 30em;
  border: 0.4em solid white;
}
/*Especifidad 002*/
main p{
    padding: 1em;
    margin: 0;
    text-align: center;
    border: 0.1em solid white;
}

@media screen and (max-width: 700px){
  
  /*Especifidad 001*/
  main{
    width: 15em;
    height: 15em;
  }
  /*Especifidad 002*/
  main p{
    padding: 0 0.5em;
    
  }

  
}
